<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.CardNumberActivity"
            android:parentActivityName=".activities.TypeActivity" />
        <activity
            android:name=".activities.TypeActivity"
            android:parentActivityName=".activities.CategoryActivity" />
        <activity
            android:name=".activities.CategoryActivity"
            android:parentActivityName=".activities.admin.AdminHomeActivity" />
        <activity
            android:name=".activities.admin.CardInfoActivity"
            android:parentActivityName=".activities.CardNumberActivity" />
        <activity
            android:name=".activities.admin.AddTypeCategoryActivity"
            android:parentActivityName=".activities.TypeActivity" />
        <activity
            android:name=".activities.admin.AddCategoryActivity"
            android:parentActivityName=".activities.CategoryActivity" />
        <activity
            android:name=".activities.admin.AddCardActivity"
            android:parentActivityName=".activities.admin.AdminHomeActivity" />
        <activity android:name=".activities.user.UserHomeActivity" />
        <activity android:name=".activities.admin.AdminHomeActivity" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>